{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Invoice Manager</title>
	{% endif %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'index' %}"><strong>invoice</strong>manager</a>
			</div>

			{% if user.is_authenticated %}

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Invoices <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'new_invoice' %}"><strong>New Invoice</strong></a></li>
							<li><a href="{% url 'index' %}">Recent</a></li>
							<li class="divider" role="separator"></li>
							<li><a href="{% url 'all_invoices' %}">List All</a></li>
							<li><a href="{% url 'draft_invoices' %}">Draft Invoices</a></li>
							<li><a href="{% url 'paid_invoices' %}">Paid Invoices</a></li>
							<li><a href="{% url 'unpaid_invoices' %}">Unpaid Invoices</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Customers <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'new_customer' %}"><strong>New Customer</strong></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{% url 'customer_list' %}">List All</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Expenses <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'new_business_expense' %}"><strong>New Expense</strong></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="{% url 'expense_list' %}">List All</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Reports <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'accounting' %}">Accounting</a></li>
						</ul>
					</li>
				</ul>

				<form class="navbar-form navbar-right" action="{% url 'search_invoice' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Invoice Number" name="id">
					</div>
					<button type="submit" class="btn btn-default">Go</button>
				</form>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Hello, {{ user.username }}</a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>

			{% endif %}

		</div>
	</nav>

	<div class="container">

{% block content %}

{% endblock %}

	</div>
</body>

</html>
